<div class="container"  >
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">ApolloQuerier</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav >
      <mat-nav-list>
        <a mat-list-item routerLink="/{{nav}}" routerLinkActive="active" *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
<router-outlet></router-outlet>
