.container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
h1.app-name {
  margin-left: 8px;
}

.sidenav-container {
  flex: 1;
}

.sidenav-container {
  flex: 1 0 auto;
}
.toolbar{
  position: fixed;
  z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
}
.toolbar :hover {
  opacity: 0.8;
}
a,
  a:visited {
    text-decoration: none;
  }

  a:hover {
    color:rgb(231, 187, 233);
  }
  h1.app-name {
    margin-left: 8px;
  }
