
*{
  z-index:3;
  }
  .container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    justify-items :flex-start;
    align-items: center;
    border-radius: 5px;
    background-color: rgba($color: #c7356d, $alpha: 0.5);
    z-index: 4;
    color: white;
    background-size: 100% 400px;;
    max-width: 50%;
    max-height: 90%;
    padding: 100px;
  }

.form-query {
  margin: 50%;
  background-color: inherit;
  display: flex;
  flex-flow: row wrap;
  flex-flow: column wrap;
  justify-content: space-around;
  justify-items: flex-start;
  align-items: inherit;
  border-radius: inherit;
  color: inherit;
  z-index: 5;
  min-width: inherit;
  min-height: inherit;
  max-width: inherit;
  max-height: inherit;
  width: 90%;
  height: 99%;
}
  .form-group{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    justify-items :center;
    align-items: center;
    margin: auto;
    z-index: 4;
    color:black;
    border-radius: 5px;

  }
  .btn:disabled{
    button[disabled]{
    background-color: red;
  }
}
  .btn .btn-success{
   border-radius: 5%;
  float:bottom right;
  color:white
  }
  .btn-success{
    background-color: rgba($color: #3dda64, $alpha: 0.5);
  }
