<div class="container">
  <form #queryform class="form-query" [formGroup]="queryForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-group">
      <mat-label for="tableNames">Select a table</mat-label>
      <mat-select class="form-control" id="tableNames"
      required
      [(value)]="queryRequest.tableName" [(ngModel)]="queryRequest.tableName"
       formControlName="tableSelect">
        <mat-option *ngFor="let tableName of tableNames" [value]="tableName">{{tableName}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label for="queryTypes">Select a query</mat-label>
      <mat-select class="form-control" id="queryTypes"
      required
      [(value)]="queryRequest.queryType" [(ngModel)]="queryRequest.queryType"
       placeholder="1" formControlName="querySelect" >
       <mat-option *ngFor="let query of queryTypes" [value]="query">{{query}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div formGroupName="time">
      <input  class="form-group form-control"
      required
      type="number" formControlName="numTime" name="time"
      [(value)]="queryRequest.time" [(ngModel)]="queryRequest.time"
       min="1" max="100">
  <mat-form-field>
    <mat-label for="timeMeasure">Select a timeMeasure</mat-label>
    <mat-select class="form-control"
    required
    id="timeMeasure" [(value)]="queryRequest.timeMeasure"
    [(ngModel)]="queryRequest.timeMeasure"
        formControlName="typeMeasure">
       <mat-option *ngFor="let measure of timeMeasurement" [value]="measure">{{measure}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

    <button mat-raised-button  type="submit" class="btn form-control form-group"
     [disabled]="!queryForm.valid"  [class.btn-success]= "queryForm.valid">Submit</button>
  </form>
  </div>

