<mat-form-field class="select-env">
  <mat-label>Select an environment</mat-label>
  <mat-select [(value)]="envSelected">
    <mat-option *ngFor="let envSelected of env" [value]="envSelected">{{envSelected}}</mat-option>
  </mat-select>
</mat-form-field>
<app-main-navbar></app-main-navbar>
<router-outlet></router-outlet>



